.headerMenu {
	max-width: 445px;
	filter : none;
}
.headerOptions {
	position: absolute;
}

body div header div fieldset button {
	width: 22px;
	height: 22px;
	margin-top:0;
	margin-left: 5px;
}

.modElement {
	padding-bottom: 30px;
}

.noticiasPrincipales article button, .noticiasSecundarias div button { padding-left: 3px; padding-top: 2px;}

.verResultados {width: 90px !important;}	
.encuestaVotar {width: 40px !important;}