body {
	background: #fafafa; 
	font-family: 'Arial', 'Helvetica', sans-serif;
	margin:0; 
	padding:0;
	overflow-x:hidden;
	min-width: 320px;
}

body div {
	background:white; 
	border-left:solid 1px #eaeff5; 
	border-right:solid 1px #eaeff5; 
	margin: 0 auto; 
	max-width: 990px; }

body div header {
	width: 100%;
	height: 140px;
	position: relative;
}

body div header div fieldset {
    border: 0 none;
    margin: 3px 0;
    padding: 0;
    width: 45%;
    float: left;
}

body div header div fieldset input {
    height: 16px;
    float: left;
    width: 110px;
}

body div header div fieldset button	{
    display: block;
    float: left;
    height: 24px;
    margin: -1px 0 0 3px;
    padding: 0;
    width: 24px;
}

.headerOptions {
	border: 0 none;
	float: right;
	height: 58px;
	padding: 10px;
	width: 320px;
	clear: right;
	}

#feedClima {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	float: right;
	height: 22px;
	margin: 0 10px;
	width: 210px;
}

#feedClima div {
	border: 0;
}

.headerMenu {
	float: right;
    border: 0 none;
    max-width: 428px;
    width: auto;
}

.headerMenu ul li{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border-bottom: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    color: #085EAB;
    float: left;
    font-size: 10px;
    font-weight: bold;
    height: 28px;
    margin: 0 !important;
    padding: 5px;
    text-shadow: none;
}

	.headerMenu .ultimoItem {
		border-right: 1px solid #EBEBEB;
	}

.headerMenu ul li button{
    color: inherit;
    float: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: inherit;
}

.headerLogo {
	width: 364px;
	border: 0;
	float: left;
}

.headerFecha {
    color: #666666;
    display: block;
    font-family: 'Fauna One';
    font-size: 11px;
    margin: -18px auto 1px 10px;
    text-align: center;
    width: 400px;
    float: left;
    clear: both;

}

body div header nav{
	background: white;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	height: 28px;
	margin: -1px auto 0;
	max-width: 650px;
}

body div header figure {
	background: url(../img/mundo-villa.png);
	margin: 10px auto 10px;
	width: 370px;
	height: 70px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/mundo-villa.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/mundo-villa.png', sizingMethod='scale')";
}

body div nav {
	width: 100%;
	height: 30px;
	background: #004887;
	background: -moz-linear-gradient(top, #004887 0%, #327ab9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004887), color-stop(100%,#327ab9));
	background: -webkit-linear-gradient(top, #004887 0%,#327ab9 100%);
	background: -o-linear-gradient(top, #004887 0%,#327ab9 100%);
	background: -ms-linear-gradient(top, #004887 0%,#327ab9 100%);
	background: linear-gradient(to bottom, #004887 0%,#327ab9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004887', endColorstr='#327ab9',GradientType=0 );
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 2px solid #cfcaca;
}

body div nav ul {
	margin: 0;
	padding: 0;
    text-align: center;
}

body div nav ul li{
	display: inline-block;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 3px;
	text-shadow: 1px 1px 0 #003766;
}

body div nav ul li span {
    color: white;
    display: inline-block;
    font-size: 8px;
    margin-top: 5px;
    padding: 0 10px;
    vertical-align: top;
}

body div nav ul li button{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-family: 'Fauna One',serif;
    margin: 0;
    text-shadow: inherit;
}

body div section {
	width: 100%;
}

body div section div {
	border: none;
	/* display: inline; */
	margin: 0 5px 0;
}

body footer {
	width: 100%;
	background: #ebebeb;
	border-top: 1px solid #959595;
	text-align: center;
}

figure, ul {
	margin: 0; padding: 0;
	font-family: 'Fauna One'
}

body footer figure img{
	margin: 10px 0 0;
	width: 210px;
}

.navVillas {
    display: inline-block;
}
.navVillas, .navSitio {
    margin: 10px 0;
}

.navSitio li, .navVillas li {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.navSitio li {
    color: #043c6e;
}

.navVillas li {
	color: #333;
}

.navSitio li span, .navVillas li span{
    color: #333;
    display: inline-block;
    font-size: 10px;
    height: 16px;
    margin: 0 15px;
    vertical-align: bottom;
}

.navVillas li span{ 
	color: #043c6e;
}

.navRedesSociales > li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    display: inline-block;
    margin-bottom: 5px;
    padding: 15px 0 15px 50px;
    text-align: left;
    width: 270px;
}

.redesTwitter {
    background: url("../img/icon-twitter.png") no-repeat scroll 5px 5px #F5F5F5;
}

.redesFacebook {
    background: url("../img/icon-facebook.png") no-repeat scroll 5px 5px #F5F5F5;
}

.redesEmail {
    background: url("../img/icon-mail.png") no-repeat scroll 5px 5px #F5F5F5;
}


.navRedesSociales {
    margin-top: 20px;
}

.linea1 {margin: 0}

.noticiasPrincipales article {
    border: 1px solid #EBEBEB;
    display: inline-block;
    margin: 5px;
    padding-bottom: 15px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
}

.noticiaPrincipal .epigrafe, .elementNoticia .epigrafe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border-bottom: 1px solid #EEEEEE;
    color: #888888;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    padding-bottom: 2px;
    padding-left: 10px;
    width: 100%;	
}

.elementNoticia .epigrafe {
    padding: 0;
    position: static;
}

.noticiasPrincipales article:hover, .noticiasSecundarias div .elementNoticia:hover  {
	border-color: #ddd;
	cursor: pointer;
}

.noticiasPrincipales article:hover  h3, .noticiasSecundarias div .elementNoticia:hover h2 {
	text-decoration: underline; 
}

.noticiasPrincipales article:hover  p, .noticiasSecundarias div .elementNoticia:hover p {
	color: black; 
}

.noticiasPrincipales article:hover  button, .noticiasSecundarias div .elementNoticia:hover button {
    background: none repeat scroll 0 0 #004A80;
    border: medium none;
    box-shadow: none;
    bottom: 4px;
	right: 4px;
}

.noticiasPrincipales article:hover  button .icon-arrow-new, .noticiasSecundarias div:hover button .icon-arrow-new {
    color: white;
    margin-left: 1px;
}


	.noticiasPrincipales article figure, .noticiasSecundarias div figure {
		border-bottom: 1px solid #057de6;
		overflow: hidden;
		width: 100%;
		padding: 0;
		margin: 0;
		height: 200px;
	}

	.noticiasSecundarias div figure {
		max-height: 150px;
	}		

	.noticiasPrincipales article h2, body div section .noticiasSecundarias div span {
	   /* font-family: 'Fauna One'; */
	    left: 10px;
	    margin: 0;
	    position: absolute;
	    top: 10px;
	}

	.noticiasSecundarias div button span {
		
		position: static !important;

	}

	.ultimoMomento {
	    font-size: 13px;
	    background: none repeat scroll 0 0 #901F0F;
	    border: 1px solid #790000;
	    color: white;
	    padding: 5px;
	}

	.spanUrbanidad {
	    font-size: 11px;
	    background: none repeat scroll 0 0 #ebb629;
	    border: 1px solid #b38b1e;
	    color: black;
	    padding: 5px;
	}

		.noticiasPrincipales article figure img{
			width: 100%
		}

	.noticiasPrincipales article h3, body div section .noticiasSecundarias div h2, .asideNoticia .elementEncuesta h2 {
		    color: #0E5EA5;
		    font-family: 'Fauna One',serif;
		    margin: 10px 5px 5px 10px;
	}

	.noticiasPrincipales article p, .noticiasSecundarias div p, .asideNoticia .elementEncuesta p {
	    color: #444444;
	    font-size: 12px;
	    line-height: 17px;
	    margin: 5px 0 0 10px;
	    width: 97%;
	}

.noticiasPrincipales article button, .noticiasSecundarias div button, .asideNoticia .elementEncuesta button {
    bottom: 5px;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 5px;
    text-align: right;
    width: 20px;
	background: white; 
	border: 1px solid #004a80;
	box-shadow: 1px 1px 0px 0px #004a80;
}

.mod1col {
	width: 33%;
}

.mod2col {
	width: 67%;
}

.mod3col {
	width: 100%;
}

.modElement {
    border: 1px solid #EEEEEE;
    margin: 5px;
    float: left;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.modElement figure img {
	width: 100%;
}

.modElement > div > fieldset {
    border: 0 none;
}

body div section div#grillado.noticiasSecundarias div.modElement fieldset.encuesta button {
    color: #004A80;
    font-size: 11px; 
}



.verResultados {
    border-color: #CCCCCC !important;
    box-shadow: none !important;
    color: #333333 !important;
    font-size: 11px;
    left: 6px;
}

.encuestaVotar {

}

.encuesta > button:hover {
    background: none repeat scroll 0 0 #004A80;
    border: medium none;
    box-shadow: none;
    bottom: 4px;
	right: 4px;
	color: white !important;
}

.verResultados:hover {
	background: #ddd !important;
	color: #555 !important;
}


.modBanner{
    border: 0 none;
    height: auto;
    padding: 0;
    min-height: 50px;
    margin: 0;
}

.modElement.modOtro {
	padding-bottom: 0;
	/* border: 0;*/
}

.noticiasSecundarias {
	background: none;
	margin: 0 5px;
	padding: 0;
	position: relative;
}

	body div section .noticiasSecundarias div h2 {
	    color: #4C4C4D;
	    font-size: 19px;
	    margin: 5px 5px 10px;
	}

	.noticiasSecundarias div figure {
		position: relative;
	}


/* Clima */

	form { margin-bottom: 1em; }

.weatherFeed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin: 2em 3em;
	width: 280px;
}
.weatherFeed a { color: #888; }
.weatherFeed a:hover {
	color: #000;
	text-decoration: none;
}
.weatherItem {
	padding: 0.8em;
	text-align: right;
}
.weatherCity { display: inline; text-transform: uppercase; }
.weatherTemp {
	font-size: 13px !important;
	font-weight: bold;
	margin-left: 2px;
	display: inline;
}
.weatherDesc, .weatherCity, .weatherForecastDay  { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; }
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem { font-size: 0.8em; }
.weatherLink, .weatherForecastItem {
	margin-top: 0.5em;
	text-align: left;
}
.weatherForecastItem {
	padding: 0.5em 0.5em 0.5em 80px;
	background-color: #fff;
	background-position: left center;
}
.weatherForecastDay { font-size: 1.1em; }

.odd { background-color: #e8e8fc; }
.even { background-color: #d4d4e8; }

	/* configuracion */

	.odd {background-color: transparent;}

	.weatherItem  div {background: transparent; border: 0; }

	.weatherItem {
	    background-position: 55px 0;
	    background-repeat: no-repeat;
	    background-size: 45px auto;
	    margin-right: -10px;
	    padding-right: 15px;
	    padding-top: 1px;
	}

	.weatherWind, .weatherLink {display: none;}

	.weatherCity {
		font-size: 12px;
		margin-top: 0 !important;

		 }

	.weatherTemp{
		font-size: 36px;
	}

	.weatherDesc {
		font-size: 12px;
		margin-bottom: 3px;
	}

	.weatherRange {
		font-size: 8px;
	}

.MundoVilla {
	position: absolute;
	top: 20px;
	border: none;
}

/* Fix de Chrome */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.noticiasPrincipales article button, 
	.noticiasSecundarias div button { padding-left: 3px; padding-top: 2px;}
	.verResultados {width: 90px !important;}	
	.encuestaVotar {width: 40px !important;}
}

/* Fix de Firefox */

@-moz-document url-prefix() {
 body div section div#grillado.noticiasSecundarias div.modElement fieldset.encuesta button { width: auto; }
}


/*  Tipografia */

@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot');
	src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype'),
		url('fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-rss, .icon-mail, .icon-facebook, .icon-twitter, .icon-arrow-new, .icon-arrow-menu, .icon-search {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-rss:before {
	content: "\e000";
}
.icon-mail:before {
	content: "\e001";
}
.icon-facebook:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e003";
}
.icon-arrow-new:before {
	content: "\e004";
}
.icon-arrow-menu:before {
	content: "\e005";
}
.icon-search:before {
	content: "\e006";
}

.icon-search {
    font-size: 15px;
    margin: 0 auto auto -1px;
}

.redesSociales {
	border: 0;
	float: right;
}

.redesSociales a {
    cursor: pointer;
    font-size: 28px;
    margin-right: 6px;
}

.headerBanner {
    background: url("../img/banner-mundo-sur.png") repeat scroll 0 0 transparent;
    border: 2px solid #19D0FF;
    display: block;
    height: 49px;
    overflow: hidden;
    text-indent: -100px;
    width: 138px;
}

.icon-facebook {
	color: #365fa1;
}

.icon-twitter {
	color: #2aabe2;
}

.icon-mail {
	color: #333;
}

.icon-rss {
	color: #f38120;
}

.icon-arrow-new {
    color: #004A80;
    font-weight: bold;
}

.menuMovil {
	position: relative;
}


#menuMovilCategoriasSubmenu, #menuMovilSeccionesSubmenu{
	background: #e2e2e2;
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
    display: none;
    position: absolute;
    top: 28px;
    width: 205px;
    z-index: 999;
    border-bottom: 2px solid #084f8f;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.75);
}

#menuMovilCategorias, #menuMovilSecciones {
    color: #FFFFFF;
    display: block;
    font-family: 'Fauna One';
    margin: 3px 0 0 5px;
    cursor: pointer;
}

#menuMovilSecciones {
	color: black;
}

#menuMovilCategoriasSubmenu ul{
	background: green;
}

.submenu {

}

.submenu li{
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    font-family: 'Fauna One';
    font-size: 14px;
    height: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    text-shadow: none;
}

/* Noticia */

.sectionNoticia {
	margin: 10px 5px 10px 10px;
	display: inline-block;
	font-family: 'Fauna One';
}

.sectionNoticia h1 {
    font-size: 30px;
    margin: 15px 0;
}

.sectionNoticia h2 {
    font-size: 16px;
    font-weight: normal;
}

.sectionNoticia img {
    width: 100%;
}

.sectionNoticia p {
	font-family: 'Arial';
}

.asideNoticia {
	display: inline-block;
	vertical-align: top;
	margin: 10px 10px 10px 5px;
	width: 315px;
}

.asideNoticia .modElement {
	width: 100%;
}

.asideNoticia .modOtro {
	border: 0;
}

.asideNoticia .elementEncuesta {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 20px;
    position: relative;
}

.asideNoticia .elementEncuesta button {
	width: auto;
	font-size: 9px;
}

.asideNoticia fieldset {
	border: 0;
}

.asideNoticia .modBanner {
	border: 0;
}

.sectionNoticia  span {
    border-bottom: 1px solid #EEEEEE;
    display: block;
    font-size: 13px;
    font-style: italic;
    padding-bottom: 3px;
    text-indent: 2px;
    width: 100%;
}

/************************************************************************************

MEDIA QUERIES

/************************************************************************************

Defaults
/***********************/
body div nav.menuHeaderMovil {
	background: #f2f6f8;
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
}

#menuMovilSeccionesSubmenu {
	border-top: 1px solid #ccc;
	top: 28px;
}

.menuMovil, .menuHeaderMovil, .weatherDesc, .weatherRange {
	display: none;
}

.menuHeaderMovil {
	position: relative;
}


/************************************************************************************
Menor a 980
*************************************************************************************/
@media screen and (max-width: 980px) {


}

@media screen and (max-width: 835px) {

	body div nav ul li button {
		font-size: 10px;	
	}

	.navRedesSociales > li {
	    font-size: 14px;
	    width: 230px;
	}


}


/************************************************************************************
Menor a 700
*************************************************************************************/
@media screen and (max-width: 700px) {

	.headerFecha, body div nav, .headerMenu, .headerBanner, .weatherRange, .weatherDesc {
		display: none;
	}

	.menuMovil, .menuHeaderMovil {
		display: block;
		width: 50%;
		float: left;
	}

	body div nav.menuHeaderMovil {
		background: rgb(226,226,226);
		background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(254,254,254,1)));
		background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%);
		background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%);
		background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%);
		background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
	}

	.headerOptions {
		border: 0 none;
		bottom: 0;
		height: 23px;
		padding: 10px;
		position: absolute;
		width: 49%;
		top: 0;
		right: 0;
	}

	.weatherItem {
		border: 0 none;
		top: 40px;
		float: left;
		padding: 0;
		position: absolute;
		width: 96%;
		background-image: none !important;
	}

	 .weatherCity {
		font-size: 12px;
		margin-top: 45px !important;
		display: inline;
	}

	.weatherTemp {
		font-size: 15px;
		margin-top: 45px;
		display: inline;
		margin-left: 4px;
	}

	body div header div fieldset {
	    border: 0 none;
	    float: right;
	    margin: 0;
	    padding: 0;
	}


	.redesSociales {
		border-color: #ccc;
		border-style: none none none solid;
		border-right: 1px solid #ccc;
		float: right;
		margin-right: 10px;
		width: 122px;
	}

	.redesSociales a {
		font-size: 21px;
	}

	body div header figure {
		background-repeat: no-repeat;
		-moz-background-size: 280px;
		-webkit-background-size: 280px;
		background-size: 100%;
		display: block;
		height: 0px;
		margin: 0px;
		margin-top: 0px;
		padding: 0px;
		padding-top: 10px;
		width: 46%;
		background-position: 0 10px;
		padding-top: 70px;
	}

	.headerLogo {
		width: 100%;
		height: 100%;
	}


	.weatherFeed {
		height: 50% !important;
	}

	body div header {
		width: 100%;
		height: 140px;
		position: relative;
	}

	body div header {
		width: 100%;
		height: 70px;
		position: relative;
	}


}

/************************************************************************************
Menor a 468
*************************************************************************************/
@media screen and (max-width: 480px) {

	body div header {
		height: 90px;
	}

	.headerOptions {
		border: 0 none;
		bottom: 0;
		height: 23px;
		padding-left: 0;
		position: absolute;
		width: 100%;
		top: 37%;
		right: 0;
		text-align: center;
		margin-top: 10px;
		background: transparent;
		left: 0;
	}

	body div header div fieldset {
		border: 0 none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.redesSociales {
		border-color: #ccc;
		border-style: none none none solid;
		border-left: 1px solid #ccc;
		display: inline-block;
		margin-left: 10px;
		width: 122px;
		vertical-align: top;
		padding-left: 10px;
	}

	.weatherCity {
		display: none;
	}

	body div header figure {
		background-size: 70%;
		width: 100%;
		background-position: 50% 0 !important;
		
	}

	.redesSociales , body div header div fieldset {
		float: none;
		display: inline-block;
	}

	.weatherItem {
	border: 0 none;
	top: 4px;
	float: left;
	padding: 5px;
	position: absolute;
	width: 26px;
	background-image: none !important;
	background-color: #084f8f;
	text-align: center;
	right: 5px;
	color: white;
	}

	.navSitio, .navVillas {display: none;}

}
